body{
    background: orange;
}

.slick-dots li.slick-active button:before {
    color: yellow;
}

.slick-dots li button:before{
    color: green;
}

.your-class{
    width: 70%;
    margin-left: 15%;
}

.cx1 {
    width: 100%;
    background: violet;
    /*background-image: url('/img/cx1.png');*/
}

.cx1 img{
    width: 100%;
}

.cx2 {
    width: 100%;
    background:#b3bdf5;
}

.cx3 {
    width: 100%;
    background-image: url("../img/cx2.jpg") ;
    background-repeat: no-repeat;
    background-size:contain;
    min-height: 400px;
    color: white;
}

.cx3 p{
    padding-left: 10px;
}

.cx3 h4{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.8;
}

.cx3 img{
    width: 100%;
}

.slick-prev:before, .slick-next:before{
    color: #810c0c;
}