body{
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    width: 700px;
    height: 300px;
}

.barra-progresso{
    height: 50px;
}

.barra-verde{
    width: 25px;
    background: green;
}

.barra-amarela{
    width: 50px;
    background: yellow;
}

.barra-laranja{
    width: 75px;
    background: orange;
}

.barra-vermelha{
    width: 100px;
    background: red;
}