.menu-principal li{
    width: calc(25% - 2px);
    float: left;
    border: 1px solid #e75b5b;
    text-align: center;
}

.menu-dropdown{
    display: none;
}

.menu-dropdown li{
    width: 100%;
}

.menu-principal li:hover .menu-dropdown{
    display: block;
}

.menu-principal li:hover{
    background: yellow;
}

.menu-dropdown li:hover{
    background: orange;
}

.novo-subitem li:hover{
    background: green;
}

