body{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

ul, li{
    list-style: none;
}

h2{
    color: brown;
}

.par{
    background-color: greenyellow;
}

.impar{
    background-color: indianred;
}