
/*                      Mobile                      */

    .logo img{
        display: block;
    }
    
    #icon-menu{
        display: block;
    }

    .menu-mobile{
        display: block;
        margin-top: 20px;
    }

    .menu-principal{
        display: none;
    }

    .logotipo{
        display: none;
    }

    .logo-principal img {
        display: none;
    }

    /*         HEADER         */
    header{
        height: 40px;
        float: left;
    }

    header .icons{
        margin-right: 15px !important;
        margin-top: 10px;
    }

    header .text-email{
        display: none;
    }

    .menu{
        height: 90px;
    }

    .menu-mobile i{
        position: absolute;
        right: 15px;
    }
   
    .logo img{
        width: 100%;
        padding: 15px !important;
    }

    #item-mobile{
        width: 95%;
        background-color:#037F8C;
        border-radius: 20px;
        position: absolute;
        left: 5%;
    }

    .menu-mobile ul{
        margin-top: 50px !important;
        padding: 10px;
    }

    .menu-mobile ul li{
        width: 94%;
        background-color: #fff;
        padding: 10px 0px;
        margin: 12px;
        display: grid;
        border-radius: 5%;
    }
    .menu-mobile ul li a{
        margin: 10px 15px !important;
        color: #000;
        text-align: left;
    }
/*                                       */

/*               CAROSEL                    */

.cx-login{
    width: 100%;
}

.menuLogin img{
    width: 60%;
}

.cx-regist{
    width: 100%;
}

.menu-backend{
    display: none;
}

/*                                          */
/*               CAROSEL                    */

.visualizarcarosel{
    position: inherit;
}

.visualizarcarosel .carosel {
    grid-auto-columns: calc((80% / 2) - -65px);
    margin: 0px -20px;
    gap: 5px;
}

.visualizarcarosel .carosel a{
    width: 85%;
}

.carosel .listacarosel{
    width: 87%;
    padding-bottom: 0px;
}

.visualizarcarosel i{
    display: none;
}

.visualizarcarosel .carosel .listacarosel .imagem{
    margin: 5px;
}
.listacarosel .imagem img {
    height: 120px;
}

.visualizarcarosel .carosel .listacarosel .detalheProduto{
    text-align: center;
    margin: 10px 0px;
}
    
/*                                       */
/*           LISTA PRODUTOS              */

.conteudo .conteudo_detalhes{
    margin: 0px 15px;
}

.conteudo .col-1{
    width: calc(33.33% - -30px) !important;
    margin: 40px 10px !important;
}

.conteudo .col-1 .imageProduto img{
    height: 130px;
}
/*                                       */
/*            DETALHES PRODUTO                 */

.visualizarProduto{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

.visualizarProduto .imagem{
    width: initial;
}

.visualizarProduto .detalhes{
    display: inherit;
}

/*                                       */
/*               PESQUISA                    */

.barra-pesquisa{
    padding: 20px;
}

.barra-pesquisa input[type=text]{
    width: 80%;
}

.barra-pesquisa i{
    padding: 5px;
}
/*                                       */
/*               CATEGORIAS               */

    .marg-categ{
        flex-direction: column;
    }

    .categ-1{
        margin: 10px 0px;
    }
/*                                       */
/*                 FOOTER                */

footer{
    height: 700px;
    padding: 50px 25px;
}

.footer-conteudo{
    grid-template-columns: repeat(1, 1fr) !important;
}

footer img{
    width: 80%;
}

footer .footer-lista{
    text-align: left;
    margin-top: 25px;
}

footer .footer-info{
    text-align: left;
    margin-left: 30px;
    margin-top: 25px;
}
    
/*                                       */
/*                FAVORITOS                */

.table-wrapper-scroll-y {
    margin: 35px 15px !important;
}
/*                                  */
/*               BACK-END            */

.addProd .perfil{
    width: 100%;
}

.addProd .cx-1 {
    padding: 25px;
    width: 100%;
}

.col-8, .col-4{
    width: 50%;
}

.addProd .cx-3{
    width: 100%;
}

.addProd .cx-4 {
    width: 100%;
}

.cx-Add .formulaAdd {
    padding: 40px 10px;
}

.cx-mobile{
    width: 33%;
}



/*                                  */
/*               COMENTARIO            */
.visualizarcomentario .carousel{
    grid-auto-columns: calc((100% / 1) - 10%);;
}