
/*                      Mobile                      */

    .logo img{
        display: block;
    }
    
    #icon-menu{
        display: block;
    }

    .menu-mobile{
        display: block;
        margin-top: 20px;
    }

    .menu-principal{
        display: none;
    }

    .logotipo{
        display: none;
    }

    /*         HEADER         */
    header{
        height: 40px;
        float: left;
    }

    header .icons{
        margin-right: 15px !important;
        margin-top: 10px;
    }

    header .text-email{
        display: none;
    }

    .menu{
        height: 90px;
    }

    .menu-mobile i{
        position: absolute;
        right: 15px;
    }
   
    .logo img{
        width: 100%;
        padding: 15px !important;
    }

    #item-mobile{
        width: 50%;
        background-color:#037F8C;
        border-radius: 20px;
        position: absolute;
    }

    .menu-mobile ul{
        margin-top: 50px !important;
        padding: 10px;
    }

    .menu-mobile ul li{
        width: 30%;
        background-color: #fff;
        padding: 5px;
        border-radius: 5%;
    }
    .menu-mobile ul li a{
        margin: 10px 15px !important;
        color: #000;
        text-align: left;
    }
/*                                       */
/*               Footer                  */

    .marg-categ{
        flex-direction: column;
    }

    .categ-1{
        margin: 10px 0px;
    }
