.wrapper{
    width: 70%;
    margin: 0 15%;
    border: 1px solid grey;
    padding: 20px;
    float: left;
}

.algarismo{
    width: 70%;
    float: left;
}

.operadores{
    width: 30%;
    float: left;
}

.resultado{
    width: 100%;
    float: left;
}

.algarismo button,
.operadores button{
    width: 100px;
    height: 100px;
    font-size: 20px;
    background-color: rgb(37, 218, 235);
}

.operadores button{
    background-color: rgb(245, 245, 245);
}