/*link para uma font*/
/*@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');*/

@font-face { /*DEFINE UMA NOVA FONT*/
    font-family: Pacifico;
    src: url('../fonts/Pacifico-Regular.ttf');
}

body{
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

.wrapper{
    background: yellow;
    width: 100%;
}

header{
    width: 100%;
    height: 44px;
    background: white ;
    float: left;
    font-family: 'Pacifico';
    font-weight: bold;
}

header .col-3 a{
    text-transform: uppercase;
    text-decoration: none;
    color: #727a82;
    border: 2px #dee1e3 solid;
    width: 100px;
    display: block;
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    font-family: 'Arial';
    padding: 5px;
}

/*margin: 10px; 20px;*/

header .col-3 a:hover{
    background: #dee1e3;

}

.hero{
    background: url('../images/banner.jpg');
    background-position: top center;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 477px;
    float: left;

    /*
    background-image: url('../images/banner.jpg')
    background-color: purple;
    */
}

.articles{
    background: white;
    width: 100%;
    height: 500px;
    float: left;
}

.articles .center-articles{
    width: 70%;
    height: 500px;
    margin: auto;
}

.articles .col-4,
.articles .col-5,
.articles .col-6{
    width: 33.33%;
    float: left;
}

.articles .col-4 h2,
.articles .col-6 h2{
    color: #25A2C3;
    font-weight: bold;
    text-align: right;
    margin-bottom: 30px;
}

.articles .col-6 h2{
    text-align: left;
}

.center-articles .col-4 div,
.center-articles .col-6 div{
    width: 70%;
    float: right;
    margin-bottom: 20px;
}

.articles .col-6 div{
    float: left;
}

.center-articles .col-4 p{ 
    text-align: justify;
    color: #767d85;
}

.center-articles .col-5 .moldura{
    width: 200px;
    height: 200px;
    background: grey;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.center-articles .col-5 .moldura img{
    width: 100%;
}

.highlights{
    background: #f6755e;
    width: 100%;
    height: 200px;
    float: left;
    color: #ffff;
    text-align: center;
}

.highlights h2{
    font-size: 24px;
    font-weight: bold;
}

.highlights span{
    font-weight: bold;
}

.highlights p:nth-child(2){
    font-style: italic;
}

.lastest-news{
        width: 100%;
        height: 250px;
        float: left;
}
    
.center-latest-news{
    width: 70%;
    margin: 0 auto;
    background: greenyellow;
}

.center-latest-news div{
    width: calc(33.33% - 22px);
    float: left;
    height: 400px;
    border: 1px solid black;
    margin: 0 10px;
}

.center-latest-news div img{
    width: 100%;
}

.center-latest-news div h3{
    padding-left: 5px;
    color: #25a2c3;
    font-weight: bold;
}

.center-latest-news div p{
    padding: 20px;
    color: #767d85;
}

footer{
    background: #25a2c3;
    width: 100%;
    height: 150px;
    float: left;
    text-align: center;
}

.col-1{
    width: 20%;
    height: 44px;
    float: left;
}

.col-2{
    width: 60%;
    height: 44px;
    background: lightgray;
    float: left;
    text-align: center;
    color: #f6755e;

}

.col-3{
    width: 20%;
    height: 44px;
    float: left;
}

.hero-content h1{
    text-align: center;
    color: #25A2C3;
    padding: 10px 0;
    font-size: 22px;
}

.hero-content{
    width: 50%;
    min-height: 150px;
    text-align: center;
    margin-left: 25%;
    margin-top: 100px;
    float: left;
}

.hero-content p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-content button{
    background-color:#f6755e;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 4px;
}

.icon-menu-principal{
    font-size: 30px;
    color: grey;
    
}

.title h4{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.text1 {
    color: white;

}